@import 'colors';

.hidden-anchors {
  display: none;
}

#about-me {
  // display: none; // Hide when mobile
  margin: auto;
  width: 42.8em;
  margin: auto;
	display: inline-block;

	> h1 {
		font-family: 'alef', sans-serif;
		font-size: 5em;
    margin: 0;
    line-height: 1em;
	}
}

#about-me-text {
  margin: 0;
  font-family: 'Fanwood Text';
  font-size: 1.3em;
  padding-left: 2em;
}

.advantage-list-container {
  font-size: 0.8em;
  width: 31em;
  margin: 0 auto;

  .advantage-list-header {
    font-family: 'League Gothic';
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    float: left;
    min-width: 4em;
    line-height: 2.95em;
    position: relative;

    &::after {
      font-family: 'Fanwood';
      content: ' { ';
      font-size: 3em;
      line-height: 1em;
      float: right;
      color: fade-out($darkGrey, 0.6);
      -webkit-mask: $dirt;
    }
  }

  #what-i-do-list,
  #how-i-do-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: left;
    padding-left: 1em;

    > li {
      color: $darkerGrey;
      font-family: 'Fanwood';
      font-size: 1.4em;
      line-height: 1.1em;

      &::before {
        content: '\e000';
        font-family: 'SchlezIcon';
        font-size: 100%;
        color: $darkGrey;
      }
    }
  }
}