$fadedRed: desaturate(#FF4444, 50%);
$fadedGreen: desaturate(#44FF44, 70%);
$fadedBlue: desaturate(#4444FF, 70%);
$brightyWhite: #f7f7f7;
$darkGrey: #666;
$darkerGrey: #333;
$lightGrey: rgba(0,0,0,0.3);

$dirt: url('/images/dirt_tablet_phone.png');