@import 'colors.scss';

$logo: url('/images/logo_mobile.png');
$logoMarginLeft: 20px;
$logoHeight: 381px;
$logoWidth:  294px;

body {
  background-color: $brightyWhite;
}

hr {
  border-width: 0;
  display: block;
  width: 80%;
  -webkit-mask: $dirt;
  position: relative;

  &::before {
    content: 'SCHLEZ';
    text-align: center;
    color: fade-out($lightGrey, 0.1);
    top: 0;
    left: 0;
    line-height: 1em;
    display: block;
    font-size: 20pt;
    font-family: 'League Gothic';
    letter-spacing: -1px;
    //font-weight: bold;
  }

  &::after {
    content: ' ';
    top: 0.5em;
    left: 0;
    position: absolute;
    width: 100%;
    height: 24%;
    background: -webkit-linear-gradient(left, transparent 2%, fade-out($lightGrey, 0.25) 33%, fade-out($lightGrey, 0.25) 40%, transparent 45%, transparent 56%, fade-out($lightGrey, 0.25) 59%, fade-out($lightGrey, 0.25) 66%, rgba(0,0,0,0) 98%);
  }
}

.clearfix {
  clear: both;
}

header {
  text-align: center;
}

#logo-holder {
  margin-left: $logoMarginLeft; // Remove on mobile
  background-image: $logo;
  background-repeat: no-repeat;
  height: $logoHeight;
  width: $logoWidth;
  float: left;
}

#header-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: $logoWidth + 5;

  li {
    float: left;
    padding: 0.30em;
  }

  .hidden-text {
    display: none;
  }

  .header-link {
    outline: 0;
    border: 0;
    text-decoration: none;
  }

  .header-link:focus, .header-link:active {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }

  .header-icon {
    color: $darkGrey;
    font-size: 2.90em;
    text-decoration: none;
    border: 0;

    -webkit-mask: $dirt;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
}

// Links

#header-schlez:hover, #header-schlez:active, #header-schlez:focus {
  .header-icon {
    color: darken($darkerGrey, 20%);
    text-shadow-color: red;
  }
}

#header-facebook:hover, #header-facebook:active, #header-facebook:focus {
  .header-icon {
    color: darken($fadedBlue, 20%);
  }
}

#header-youtube:hover, #header-youtube:active, #header-youtube:focus {
  .header-icon {
    color: darken($fadedRed, 20%);
  }
}

#header-twitter:hover, #header-twitter:active, #header-twitter:focus {
  .header-icon {
    color: darken($fadedBlue, 20%);
  }
}

#header-github:hover, #header-github:active, #header-github:focus {
  .header-icon {
    color: darken($fadedGreen, 20%);
  }
}

#header-instagram:hover, #header-instagram:active, #header-instagram:focus {
  .header-icon {
    color: darken($fadedRed, 20%);
  }
}