body {
  background-color: #f7f7f7; }

hr {
  border-width: 0;
  display: block;
  width: 80%;
  -webkit-mask: url("/images/dirt_tablet_phone.png");
  position: relative; }
  hr::before {
    content: 'SCHLEZ';
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    line-height: 1em;
    display: block;
    font-size: 20pt;
    font-family: 'League Gothic';
    letter-spacing: -1px; }
  hr::after {
    content: ' ';
    top: 0.5em;
    left: 0;
    position: absolute;
    width: 100%;
    height: 24%;
    background: -webkit-linear-gradient(left, transparent 2%, rgba(0, 0, 0, 0.05) 33%, rgba(0, 0, 0, 0.05) 40%, transparent 45%, transparent 56%, rgba(0, 0, 0, 0.05) 59%, rgba(0, 0, 0, 0.05) 66%, rgba(0, 0, 0, 0) 98%); }

.clearfix {
  clear: both; }

header {
  text-align: center; }

#logo-holder {
  background-image: url("/images/logo_mobile.png");
  background-repeat: no-repeat;
  height: 381px;
  width: 294px;
  float: left; }

#header-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 299px; }
  #header-links li {
    float: left;
    padding: 0.30em; }
  #header-links .hidden-text {
    display: none; }
  #header-links .header-link {
    outline: 0;
    border: 0;
    text-decoration: none; }
  #header-links .header-link:focus, #header-links .header-link:active {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  #header-links .header-icon {
    color: #666666;
    font-size: 2.90em;
    text-decoration: none;
    border: 0;
    -webkit-mask: url("/images/dirt_tablet_phone.png");
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease; }

#header-schlez:hover .header-icon, #header-schlez:active .header-icon, #header-schlez:focus .header-icon {
  color: black;
  text-shadow-color: red; }

#header-facebook:hover .header-icon, #header-facebook:active .header-icon, #header-facebook:focus .header-icon {
  color: #4d4d90; }

#header-youtube:hover .header-icon, #header-youtube:active .header-icon, #header-youtube:focus .header-icon {
  color: #a63737; }

#header-twitter:hover .header-icon, #header-twitter:active .header-icon, #header-twitter:focus .header-icon {
  color: #4d4d90; }

#header-github:hover .header-icon, #header-github:active .header-icon, #header-github:focus .header-icon {
  color: #4d904d; }

#header-instagram:hover .header-icon, #header-instagram:active .header-icon, #header-instagram:focus .header-icon {
  color: #a63737; }
